{% extends 'layout.html' %}

{% block mycontent %}
<div class="card text-white bg-dark mb-3" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;margin-bottom:50px;margin-top:50px;">
 <b><h1 class="text-warning" style="margin-left:20px;">Mark List Generator</h1></b>
 <h6 style="margin-left:20px;">Welcome to Mark List Generator</h6>
	<div class="card border-warning mb-3" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;margin-bottom:150px;margin-top:5px;">
		<div class="container-fluid" style="margin-top:10px;margin-bottom:10px;margin-left:25px;">
			<b><h4 class="text-dark" style="margin-top:10px;margin-bottom:10px;">Mark List Generating Steps Are:</h4></b>
			<p class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__..it quite simple</p>
			<p class="text-dark">1: Enter your Name,Rgister number,Collage name and Semester</p>
			<p class="text-dark">2: Provide Your Subject name,Subject Optained Mark and Total mark</p>
			<p class="text-dark">3: Click Submit Button</p>
		</div>
	</div> 
</div>
{% endblock %}